
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #1b1b1b;
    font-family: 'Overpass', sans-serif;
}

.text {
    color: #d8d8d8;
    font-size: 25px;
}

/* .textContainer{
    position: absolute;
    top: 250px;
    left: 100px;
} */

.firstLine{
    z-index: 1;
    position: absolute;
    top: 248px;
    left: 50px;
}

.cover{
    width: 100%;
    height: 55px;
    /* background-color: #757575e5; */
    background-color: #1b1b1b;
}

.cover1{
    position: absolute;
    top: 251px;
    z-index: 2;
    animation-name: reveal;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.secondLine{
    z-index: 3;
    position: absolute;
    top: 320px;
    left: 50px;
}

.cover2{
    z-index: 4;
    position: absolute;
    top: 324px;
    animation-name: reveal;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.thirdLine{
    z-index: 5;
    position: absolute;
    top: 390px;
    left: 50px;
}

.cover3{
    z-index: 6;
    position: absolute;
    top: 393px;
    animation-name: reveal;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    100% {top: 450px;}
}

.otherText{
    color:#1b1b1b;
    font-family: serif;
    font-style: oblique;
    font-weight: 10;
    font-size: 100px;
    position: absolute;
    top: 600px;
    right: 100px;
    animation-name: otherReveal;
    animation-duration: 10s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes otherReveal {
    100% {color: #d8d8d8;}
}