
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #1b1b1b;
    font-family: 'Overpass', sans-serif;
}

.text {
    color: #d8d8d8;
    font-size: 25px;
}

.container{
    /* border: red solid 1px; */
    position: absolute;
    top: 250px;
    left: 100px;
    height: 250px;
    width: 616px;
}

.firstLine{
    position: absolute;
    top: 0;
    z-index: 1;
}

.secondLine{
    position: absolute;
    top: 93px;
    z-index: 3;
}

.thirdLine{
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.coverContainer{
    /* border: red solid 1px; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 250px;
    width: 616px;
    animation-name: reveal;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cover{
    position: relative;
    background-color: #1b1b1b;
    height: 55px;
}

.cover1{
    top: 0;
    left: 0;
    z-index: 2;
}

.cover2{
    top: 44px;
    left: 0;
    z-index: 4;
}


.cover3{
    top: 80px;
    left: 0;
    z-index: 6;
}



@keyframes reveal {
    100% {top: 55px;}
}

.otherText{
    color:#1b1b1b;
    font-family: serif;
    font-style: oblique;
    font-weight: 10;
    font-size: 100px;
    position: absolute;
    top: 600px;
    right: 100px;
    animation-name: otherReveal;
    animation-duration: 10s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes otherReveal {
    100% {color: #d8d8d8;}
}